@import url("https://fonts.googleapis.com/css?family=Raleway:200i");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  background: #fffae6;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; }

.navbar {
  width: 100%;
  background: none !important; }
  @media (max-width: 34em) {
    .navbar {
      background: #202020 !important; } }

.nav-link {
  text-transform: uppercase;
  font-weight: bold; }

.navbar-toggler {
  cursor: pointer;
  outline: 0; }

.nav-item {
  padding: 0 1rem; }
  @media (max-width: 34em) {
    .nav-item {
      padding: 0; } }
  @media (max-width: 34em) {
    .nav-item .nav-link {
      font-weight: normal;
      color: fff !important; } }

li {
  border: 2px; }
