@import url('https://fonts.googleapis.com/css?family=Raleway:200i');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$bg-color: rgb(255, 250, 230);

body{
  background: $bg-color;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar{
  width: 100%;
  background: none !important;
  
  @media(max-width: 34em){
    background: rgb(32, 32, 32) !important;
  }
}

.nav-link{
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-toggler{
  cursor: pointer;
  outline: 0;
}

.nav-item{
  padding: 0 1rem;
  @media(max-width: 34em){
    padding: 0;
  }
  .nav-link{
    @media(max-width: 34em){
      font-weight: normal;
      color: fff !important;
    }
  }
}
